.home-page {
  height: 100vh;
  background-color: wheat;
  padding: 20px 0 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  
  font-family: 'Merienda', cursive;
  font-size: 1.2em;
}
.response {
  height: 50px;
  
}
.shadespeare {
  width: 200px;
}
.home-page button {
  background-color: inherit;
  border: none;
  user-select: none;
  outline: none;
  
}
.scrollImage {
  width: 200px;
  filter: drop-shadow(4px 4px 4px black);
  transition: 0.1s;
}
.scrollImage:hover {
  transform: scale(1.04);
  cursor: pointer;
}
.scrollImage:active {
  transform: translateY(2px);
  filter: drop-shadow(1px 1px 1px black);

}



