.home-page {
  height: 100vh;
  background-color: wheat;
  padding: 20px 0 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Merienda', cursive;
}
.response {
  height: 50px;
  margin-bottom: 0px;
  margin-top: -3px;
  padding: 4px;
  border: 3px dashed red;
}
.shade {
  width: 400px;
}
.shadespeare {
  width: 400px;
}
.home-page button {
  background-color: inherit;
  border: none;
  user-select: none;
  outline: none;
  
}
.scrollImage {
  width: 200px;
  filter: drop-shadow(4px 4px 4px black);
  transition: 0.1s;
}
.scrollImage:hover {
  transform: scale(1.04);
  cursor: pointer;
}
.scrollImage:active {
  transform: translateY(2px);
  filter: drop-shadow(1px 1px 1px black);

}
.aboutUs {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-decoration: none;
}
.aboutUs:hover{
  text-decoration: underline;
  
}


.response {
  position:relative;
  line-height:2em;
  overflow:hidden;
}
.fadingEffect {
  position:absolute;
  top:0; bottom:0; right:0;
  width:100%;
  background:wheat;
  animation: show 4s ease-in;
  animation-fill-mode: forwards;
}
@-webkit-keyframes show { /* Chrome, Safari */
  0% {width:100%}
  25% {width:75%}
  50% {width:50%}
  75% {width:25%;}
  100% {width:0%;}
}
@keyframes show {
  0% {width:100%}
  25% {width:75%}
  50% {width:50%}
  75% {width: 25%;}
  100% {width: 0%;}
}

